@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --primary: #dda60f;
    --primary-dark:#806d34;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #444;
}

li{
    list-style: none;
}

a{
    color: var(--primary);
    font-size: 12px;
}

.main-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.heading{
    color: var(--primary);
}

.row{
    display: flex;
}

.col-1of2,
.col-1of3{
    flex: 1;
}

.pad1{
    padding: 10px;
}

.marbottom-2{
    margin-bottom: 20px;
}

.martop-4{
    margin-top: 40px;
}

.display-block{
    display: block;
}

/* Top bar */

.top-bar__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo-ws{
    max-width: 120px;
}

.search-form{
    border: 1px solid #707070;
    border-radius: 25px;
    display: flex;
    align-items: center;
    max-width: 200px;
    margin: 0 0 0 auto;
}

.search-form ~ span{
    font-size: 14px;
    display: block;
    margin-top: 15px;
    margin-bottom: 13px;
    text-align: right;
}

.search-form input{
    border: none;
    outline: none;
    padding: 5px;
    background-color: transparent;
}

.search-form button{
    background-color: transparent;
    border: none;
    padding: 3px 5px 0px 5px;
}

.search-form button svg{
    font-size: 7px;
    fill: #707070;
}

.top-bar__item{
    display: inline-block;
    text-align: right;
}

.top-bar__item:not(:last-child){
    margin-right: 8px;
    position: relative;
}

.top-bar__item:not(:last-child)::before{
    content: "\007C";
    position: absolute;
    right: -8px;
    color: var(--primary-dark);
}

.top-bar__link{
    font-size: 14px;
    color: var(--primary);
}


/* navbar */

.nav-menu{
    display: flex;
    border: 1px solid #e4e3e3;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 3px 2px #00000025;

}

.nav-item{
    flex: 1;
    text-align: center;
    transition: backgroundColor .2s;
}

.nav-item.active{
    background-color: var(--primary);    
}

.nav-item.active .nav-link:hover{
    color: currentColor;
}

.nav-link{
    display: block;
    padding: 10px;
    color: #444;
    font-size: 13px;
    transition: all .2s;
    text-decoration: none;
}

.nav-link:hover{
    color: var(--primary);
}

.nav-item:not(:last-child) .nav-link{
    border-right: 1px solid #e4e3e3;
}


/* main content */

.main-content{
    display: flex;
}

.first-block{
    max-width: 240px;
}

.first-block .title{
    color: var(--primary);
    display: block;
    margin-bottom: 7px;
}

.card{
    height: 200px;
    width: 100%;
    background-color: white;
}

.color-palette{
    border: 1px solid #e4e3e3;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    margin-bottom: 30px;
}

.cl-circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: aliceblue;
    margin: 0 2px;
    cursor: pointer;
}

#clOne{ background-color: #dda60f}
#clTwo{ background-color: #1682db}
#clThree{ background-color: #d621a0}
#clFour{ background-color: #27cf3d}
#clFive{ background-color: #7a3eda}

.allTags a{
    color: #444;
    margin: 4px;
    text-decoration: none;
}

.allTags a.thin{
    font-weight: 300;
    font-size: 12px;
}

.allTags a.bold{
    font-weight: 600;
    font-size: 20px;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.principal-block{
    background-color: white;
    flex: 1;
    padding: 0 20px;
}

.banner{
    background-color: black;
    height: 350px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.showSlide {  
    display: none  
}

.showSlide img {  
    width: 100%;  
}  
 
.slide-content {  
    color: #f7f7f7;  
    font-size: 30px;  
    padding: 8px 12px 12px;  
    position: absolute;  
    bottom: 0;  
    width: 100%;  
    text-align: center;  
    background-color: #0000008f;
}

.slide-content h1{
    font-size: 25px;
    font-weight: 600;
}

.slide-content p{
    font-size: 15px;
    font-weight: 300;
}

.slide-content button{
    background-color: var(--primary);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}
  
/* Fading animation */  
.fade {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

.shipping-info{
    margin-top: 60px;
    padding: 25px;
    text-align: center;
    border: 1px solid #f7f7f7;
    position: relative;
}

.shipping-info .icon-box{
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #f7f7f7;

    display: flex;
    align-items: center;
    justify-content: center;
}

.shipping-info .icon-box img{
    height: 40px;
}

.shipping-info h3{
    max-width: 400px;
    margin: 20px auto 10px;
}

.shipping-info p{
    font-size: 14px;
}

.best-selling{
    margin-top: 40px;
}

.product-card{
    display: flex;
}

.product-card .illustration{
    width: 100px;
    height: 100px;
}

.product-card .content{
    font-size: 14px;
    padding:  13px;
}

.product-card .content a {
    text-decoration: underline;
}

.product-card .illustration img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}


.third-block{
    width: 270px;
}

.grey-card{
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 20px;
}

.grey-card h3{
    color: var(--primary);
    margin-bottom: 20px;
}

.grey-card span{
    display: block;
    font-size: 14px;
}

.grey-card .action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.grey-card button, .btn-standard{
    background-color: white;
    padding: 7px 10px;
    border: 1px solid #9b9898;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 2px 3px 2px #00000071;
}

.grey-card .checklist{
    margin-top: 20px;
}

.grey-card .checklist li{
    padding: 3px 0;
}

.yt-video{
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
}

.grey-card .checklist label{
    margin-left: 10px;
    font-size: 14px;
}


/* footer */

footer{
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}


.ft__item{
    display: inline-block;
}

.ft__item:not(:last-child){
    margin-right: 8px;
    position: relative;
}

.ft__item:not(:last-child)::before{
    content: "\007C";
    position: absolute;
    right: -8px;
    color: var(--primary-dark);
}

.ft__link{
    font-size: 14px;
    color: var(--primary);
    display: flex;
    align-items: baseline;
}

.ft__link svg{
    fill: #444;
    height: 13px;
}

.legal{
    margin-top: 30px;
}



/* Page 2 */

.jumbotron__item{
    display: inline-block;
}

.jumbotron__item span{
    font-size: 14px;
}

.jumbotron__item:not(:last-child){
    margin-right: 8px;
    position: relative;
}

.jumbotron__item:not(:last-child)::before{
    content: "\203A";
    position: absolute;
    right: -8px;
    color: var(--primary-dark);
}

.jumbotron__link{
    font-size: 14px;
    color: var(--primary);
}

.product-presentation{
    margin-top: 25px;

}

.product_main-img{
    height: 400px;
}

.product_main-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.product_main-info{
    padding:20px;
}

.product-details{
    padding: 40px 0;
}

.product-details span{
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 20px;
    display: block;
}

.product-details p{
    font-size: 15px;
}

.product-params .product-param__item{
    padding: 2px 0;
}

.product-params .product-param__item:first-child{
    display: flex;
    align-items: center;
}

.product-params .product-param__item:first-child svg{
    width: 14px;
    fill:#ccc;
    margin-right: 7px;
}

.product-params .product-param__item:first-child svg.choose{
    fill:#444;
}

.product-params .product-param__item:nth-child(2){
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.product-params .product-param__item:nth-child(3){
    font-size: 16px;
}

.product-params .product-param__item:nth-child(4){
    font-size: 19px;
    font-weight: 500;
}

.product-params .product-param__item:nth-child(5) form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.product-params .product-param__item:nth-child(5) form input{
    width: 22px;
    height: 30px;
    padding: 0 5px;
}

.product-params .product-param__item:last-child{
    font-size: 14px;
    margin-top: 30px;
    text-decoration: underline;
}

.min244{
    min-height: 244px;
}

.pic{
    height: 75px;
    border: 1px solid #f7f7f7;
    cursor: pointer;
}

.pic img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.suggestion-product{
    margin-bottom: 30px;
}

.suggestion-product .illustration{
    height: 120px;
}

.suggestion-product .illustration img{
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: contain;
    object-position: center;
}

.suggestion-product .content{
    text-align: center;
}

.suggestion-product .content .title{
    display: block;
}

.suggestion-product .content .price{
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
}

.suggestion-product .content ul{
    margin-top: 15px;
}

.zoom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.zoom hr{
    width: 88%;
    margin: 0 auto;
    border: 1px solid #444444;
}

